{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "dynamic-import-node",
    "@babel/plugin-syntax-dynamic-import",
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "tree-shaking-mui-core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core/styles",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "tree-shaking-mui-styles"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core/colors",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "tree-shaking-mui-colors"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "tree-shaking-mui-icons"
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@component": "./src/components/",
          "@pages": "./src/pages/",
          "@utils": "./src/utils/",
          "@context": "./src/context/"
        }
      }
    ]
  ]
}
