{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "dynamic-import-node",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@component": "./src/components/",
          "@pages": "./src/pages/",
          "@utils": "./src/utils/",
          "@context": "./src/context/"
        }
      }
    ]
  ]
}
