.MuiDialogTitle-root {
  flex: 0 0 auto;
  margin: 0;
  padding: 0 !important;
}

.MuiDialogContent-root {
  flex: 1 1 auto;
  padding: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.MuiDialogActions-root {
  flex: 0 0 auto;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center !important;
}
